#inner-header{
    padding: 25px 0;
    background-color: #d70000;
}
.text-left{
    margin: 15px 0 30px;
    color: white;
}
*{
    font-family: 'Montserrat', sans-serif;
}
body{
    position: relative;
    width:100%;
    height:100%;
}
.color-red{
    color: red;
}
a span:hover{
    color: red;
}
a span{
    color: white;
}
@media all and (min-width: 992px) {
    .navbar .nav-item:hover .dropdown-item {color: red;}
    .navbar .nav-item .dropdown-item:hover{color: black;}
	.navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .nav-link{ color: red;  }
    .navbar .nav-item:hover #navbarDropdownMenuLink{color: red;}
	.navbar .nav-item:hover .dropdown-menu{ display: block; background-color: black;}
    .navbar .nav-item .dropdown-menu{ margin-top:0;}
    .container-article .container-slider .carousel .carousel-inner .carousel-item {transition: all 0.5s ease-in-out;}
}
#goToTop{
    cursor: pointer;
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
}.container-find{
    position: relative;
    border-radius: 30px;
    border: 1px solid gray;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.4s;

}
.rowtext input{
    border: none;
    width: 0px;
    outline: none;
}

.itemfind{
    position: absolute;
    right:0px;
    width: 40px;
    height: 40px;
}
.container-find:hover{
    width: 200px;
}
.container-find:hover .rowtext input{
   width: 150px;
   transition: all 0.5s;
}
.itemfind i:active{
    color: red;
}
@media only screen and (max-width : 1326px){
    .container-find:hover .rowtext input{
        width: 80px;
        transition: all 0.5s;
     } 
     .container-find:hover{
        width: 120px;
    }
}
input{
    border: none;
    text-decoration-color: white;
    border-bottom:1px solid rgb(158, 157, 157) ;
    font-weight: 500;

}
#conten-contact .col-lg-6{
    padding: 0 15px;
} 
#conten-contact{
    padding: 100px 0;
}
#exampleInputPassword1{
    border: none;
    border-bottom: 1px solid gainsboro;
    margin: 0 0 30px 0;
}
#exampleInputPassword2{
    border: none;
    border-bottom: 1px solid gainsboro;
    margin: 0 0 30px 0;
}
#exampleInputPassword3{
    border: none;
    border-bottom: 1px solid gainsboro;
    margin: 0 0 70px 0;
}
#exampleInputPassword4{
    border: none;
    border-bottom: 1px solid gainsboro;

}
.btn-danger{
    margin-top: 10px;
    border-radius: 0;
}
.form-group input{
    outline: none;
}
.text-header-txt-cont a{
    color: white;
}
.text-header-txt-cont a:hover{
    color: white;
    text-decoration: none;
}

